@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative text-base font-normal font-satoshi text-body bg-whiten z-1;
  }
}


@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}

.shimmer-effect {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-size: 80rem 10rem;
}

.shimmer-effect-loading {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-size: 80rem 10rem;
}


/* Add this to your CSS file */
.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


/* custom-scrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Color of the scrollbar thumb */
  border-radius: 20px; /* Roundness of the scrollbar thumb */
  border: 2px solid #f3f4f6; /* Creates padding around the scrollbar thumb */
}